/* static\css\App.css */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration-line: none;
}

p {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

iframe {
  border: 0px solid;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
    ::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.5); 
  }
    ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.6); 
    border-radius:5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.7); 
  }

